.address {
  &__label {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    color: #fff;
    font-style: normal;
    margin-bottom: 8px;
    &:hover {
      color: red;
    }

    &--content {
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      color: #fff;
      margin-bottom: 24px;
      text-decoration: none;
      &:hover {
        color: orange;
      }
    }
  }
}
