.article {
 &__paragraph {
  &--bold {
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #FFF;
  }
   &--normal {
    font-family: Poppins,sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #FFF;
   }
   &--price {
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #FFF;
   }
 }
}
