.button {
  display: grid;
  border: 2px solid #fff;
  border-radius: 40px;
  background-color: #fff;
  text-decoration: none;
  color: #1d1d1d;
  height: 56px;
  line-height: 56px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;

  @media (min-width: 744px) {
    display: grid;
    width: 392px;
    height: 56px;
    align-items: center;
    justify-self: center;
  }

  @media (min-width: 1260px) {
    display: grid;
    width: 324px;
    height: 56px;
    align-content: flex-end;
    justify-self: center;
    grid-column: 1 / 13;
  }

  &--primary {
    display: block;
    border: 2px solid #fff;
    border-radius: 40px;
    background-color: #fff;
    text-decoration: none;
    color: #1d1d1d;
    height: 56px;
    line-height: 56px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 48px;

    @media (min-width: 744px) {
      width: 288px;
      height: 56px;
    }
    &:hover {
      box-shadow: 1px 4px 16px #e8e8f066;
    }
    &:active {
      box-shadow: 1px 4px 16px #e8e8f0a3;
    }
  }
}
