@use '../utils/mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input {
    opacity: 1;
    border-radius: 40px;
    background: #f8f8fa;
    width: 278px;
    height: 48px;
    text-align: center;
    color: #7e7e83;

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      width: 43px;
      height: 20px;
      opacity: 1;
      color: #7e7e83;
      padding-left: 16px;
      padding-top: 14px;
    }
    &:hover {
      outline: 1px solid #d5d7de;
      color: #292929;
    }
    &:active {
      outline: 1px solid #292929;
    }
  }

  &__textarea {
    opacity: 1;
    border-radius: 16px;
    gap: 10px;
    background: #f8f8fa;
    width: 278px;
    height: 148px;
    text-align: center;
    padding-top: 14px;

    &:hover {
      outline: 1px solid #d5d7de;
      color: #292929;
    }
    &:active {
      border: 1px solid #292929;
    }

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      width: 246px;
      height: 120px;
      opacity: 1;
      padding-left: 16px;
      padding-top: 14px;
      text-align: start;

      color: #7e7e83;
    }
  }
  &__label {
    &:not(:active) {
      @include visually-hidden;
    }
    &:not(:focus) {
      @include visually-hidden;
    }
  }
}
