.main {
  background-color: #1d1d1d;
  padding-top: 64px;
  padding-left: 20px;
  padding-right: 20px;

  &__paragraph {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 92px;
  }

  @media (min-width: 744px) {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    padding: 120px 72px;
    justify-content: center;

    &__paragraph {
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-style: Medium;
      font-size: 23px;
      line-height: 140%;
      letter-spacing: 0;
      color: #fff;
      margin-bottom: 92px;
    }

    &__content {
      grid-column: 4 / 7;
    }

    &__section1 {
      grid-column: 1 / 7;
    }

    &__section2 {
      grid-column: 1 / 7;
    }

    &__section3 {
      grid-column: 1 / 7;
    }
    &__pack {
      display: grid;
      gap: 10px;
      grid-column: 1 / 7;
      margin-right: 100px;
    }
  }

  @media (min-width: 1260px) {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    padding: 120px;
    justify-content: center;
    align-self: center;

    &__paragraph {
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-style: Medium;
      font-size: 23px;
      line-height: 140%;
      letter-spacing: 0;
      color: #fff;
      margin-bottom: 92px;
    }

    &__content {
      grid-column: 5 / 11;
    }

    &__section1 {
      grid-column: 1 / 13;
    }

    &__section2 {
      grid-column: 1 / 13;
    }

    &__section3 {
      grid-column: 1 / 13;
      align-self: center;
      justify-content: center;
    }
    &__pack {
      display: grid;

      grid-column: 1 / 13;
      width: 846px;
      height: 478px;
    }
  }
}
