.main {
  background-color: #1d1d1d;
  padding-top: 64px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0px;
  color:#FFF;

}
