.main {
  background-color: #1d1d1d;
  padding-top: 64px;
  padding-left: 20px;
  padding-right: 20px;


  &__paragraph{
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0;
  color: #fff;
  }
}
