@use '/src/styles/utils/mixins' as *;

.phone {
  display: flex;
  gap: 20px;

  &__hover {
    @media (min-width: 744px) {
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: right;
      vertical-align: middle;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      transform: translateX(calc(-100% - 20px)) translateY(10px);
    }
  }

  &:not(:hover) .phone__hover {
    @include visually-hidden;
  }
}
