.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;

  &__one {
    width: 100%;
    height: 100%;
    justify-self: center;
    position: relative;
  }

  &__two {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
