.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
  width: auto;
  height: auto;

  &__one {
    grid-column: 1 / 13;
    justify-self: center;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
      outline: 1px solid orange;
      box-shadow: 1px 4px 16px blue;
      box-sizing: border-box;
    }
  }

  &__two {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: grid;
    overflow: hidden;

    &--big {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
        outline: 1px solid orange;
        box-shadow: 1px 4px 16px blue;
        box-sizing: border-box;
      }

      @media (min-width: 744px) {
        display: grid;
        grid-template-columns: repeat(6, 80px);
        gap: 24px;
        width: 392px;
        height: 187px;
      }

      @media (min-width: 1260px) {
        width: 672px;
        height: 321px;
      }
    }
    &--small {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
        outline: 1px solid orange;
        box-shadow: 1px 4px 16px blue;
        box-sizing: border-box;
      }
    }

    @media (min-width: 744px) {
      display: grid;
      grid-template-columns: repeat(6, 80px);
      gap: 24px;
      width: 184px;
      height: 187px;
    }

    @media (min-width: 1260px) {
      width: 324px;
      height: 320px;
    }
  }
}
