.title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  margin-bottom: 128px;

  &--secondary {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #fff;
    text-align: start;
    margin-bottom: 32px;

    @media (min-width: 744px) {
      display: grid;
      grid-column: 1 / 4;

      font-family: Poppins, sans-serif;
      font-style: Medium;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -1.5px;
    }
  }

  &--section {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 92px;
    margin-bottom: 48px;

    @media (min-width: 744px) {
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-style: Medium;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -1.5px;
      text-align: center;
    }

    @media (min-width: 1260px) {
      display: grid;
      grid-column: 1 / 13;
    }
  }

  &--contact {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;

    @media (min-width: 744px) {
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -1.5px;
      grid-column: 1 / 7;
    }

    @media (min-width: 1260px) {
      display: grid;
      grid-column: 1 / 13;
      font-weight: 600;
    }
  }
}
